@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root{
    --primary-color: #159031;
    --secondary-color: #a7ae27;
    --text-dark: #0f172a;
    --text-light: #2651a7;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, rgba(2,82,89,9), rgba(175, 37, 37, 0));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: var(--max-width);
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.nav_logo img{
    max-width: 70px;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
}

.search{
    width: 100%;
    max-width: 300px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 2rem;
    transition: 0.3s ;
}

.search input{
    width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
    outline: none;
    border: none;
}

.search input::placeholder{
    color: var(--secondary-color);
}

.search span{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.login{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.login:hover{
    background-color: var(--secondary-color);
}

.login span{
    padding: 5px 8px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 100%;
}

.destination_container{
    position: relative;
    padding: 5rem 0 5rem 5rem;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
}

.bg_dot{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    opacity: 0.6;
    z-index: -1;
}

.bg_arrow{
    position: absolute;
    bottom: 2rem;
    right: 50%;
    transform: translateX(100%);
    opacity: 0.8;
    z-index: -1;
}

.socials{
    position: absolute;
    top: 25rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.socials::after{
    position: absolute;
    content: "";
    top: -22rem;
    left: 15px;
    height: 15rem;
    width: 2px;
    background-color: var(--white);
}

.socials span{
    font-size: 2rem;
    color: var(--white);
    border-radius: 100%;
}

.socials span:hover{
    scale: 1.1;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.3s;

}

.content h1{
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--white);
    text-transform: uppercase;
}

.content h1 span{
    -webkit-text-stroke: 2px var(--white);
    -webkit-text-fill-color: transparent;
}

.content p{
    max-width: 350px;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: var(--white);
}

.content .btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: .3rem;
}

.content .btn:hover{
    scale: 1.03;
    transition: ease-in-out 0.3s;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
}


.destination_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.destination_card{
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}
.destination_card:hover{
    scale: 1.02;
    transition: ease-in-out 0.4s;
}

.destination_card img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card_content{
    padding: 1rem;
}

.card_content h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.card_content p{
    margin-bottom: 1rem;
    font-size: .9rem;
    line-height: 1.5rem;
    color: var(--text-light);
}

.card_content .btn{
    padding: .5rem 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 1rem;
}



@media (width<1200px){
    .search{
        max-width: 253px;
    }

    .destination_container{
        grid-template-columns: 1fr;
    }
}

@media (width<900px){
    .nav_links{
        display: none;
    }

    .content h1{
        font-size: 4rem;
    }

    .destination_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(width<600px){
    .search{
        display: none;
    }

    .destination_container{
        padding-left: 3rem;
    }

    .content h1{
        font-size: 3rem;
    }

    .destination_grid{
        grid-template-columns: repeat(1, 1fr);
    }

}
.container {
    position: relative;
    }
    
    /* Bottom right text */
    .text-block {
     position: absolute;
     bottom: 20px;
     right: 20px;
     background-color: black;
     color: white;
     padding-left: 20px;
     padding-right: 20px;
    }
    